<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Document</title>

</head>

<body>
    
        <% include includes/navbar %>
        
        <div class="container">
        <h1>Catalogue des voitures</h1>
        <hr>
            <div class="row">
        <% for(var i=0; i < long ; i++)  {%>
        
            <div class="card col-xs-6 col-md-3 col-offset-2 m-4">
                <img ondblclick="showImage(this);"
                    src="http://localhost:3000/images/<%= JSON.stringify(voiture[i].image).replace(/"/g,'')  %>">

                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text"> <%= JSON.stringify(voiture[i].matricule).replace(/"/g,'') %></p>
                </div>
            </div>


            <% } %>
        </div>
    </div>

    <script>
        function showImage(obj) {
            var imWin = window.open(obj.src);

            setTimeout(() => {
                imWin.close();
            }, 3000);

        }

    </script>

</body>

</html>